$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Custom page header */
#mainHeader {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	margin-bottom: 50px;
	margin-top: 30px;
}

.btn.pushIcon {
	i {
		margin-right: 5px;
	}
}

#artworks {

	#header {
		font-weight: bold;
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 5px;
	}

	.artwork {
		
		border-bottom: 1px dashed #e5e5e5;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		
		h5, h6 {
			margin: 5px 0;
		}

		.showMore {
			display: none;
			position: absolute;
			font-size: 20px;
			bottom: -12px;
			left: 50%;
			margin-left: -8px;
			color: #777777;
		}

		&:hover {
			.showMore {
				display: block;
			}
		}

		.price {
			font-size: 14px;
			font-weight: bold;
		}

		.year {
			color: #ccd1d9;
			font-weight: lighter;
			font-size: 20px;
			margin-top: -15px;
		}

		.medium {
			display: inline-block;
		}

		.materials {
			.material {
				margin-right: 5px;
				display: inline-block;
			}
			h6 {
				margin-bottom: 0;
			}
			margin-bottom: 10px;
			a {
				i {
					color: #fff;
				}
			}
		}

		.dimensions {
			color: #e6e9ed;
			padding-top: 10px;
			i {
				font-size: 30px;
				color: #aab2bd;
				width: 30px;
			}

			.wrapDims {
				margin-top: 3px;
			}

			.dimension {
				font-size: 16px;
				color: #ccd1d9;
			}

			span.x {
				margin: 3px;
			}

			.contenteditable {
				width: 30px;
				border: none;
				border-bottom: #e6e9ed dashed 2px;
				font-size: 16px;
				color: #ccd1d9;
				float: left;
				&:focus {
					outline: none;
					border-bottom-color: #ccd1d9;
				}
			}
		}

	}

}

.loadingArtworks {
	width: 80px;
	margin: 100px auto;
	font-size: 80px;
}

.footer {
	margin-top: 20px;
	margin-bottom: 50px;
	color: #e6e9ed;
	font-size: 12px;
}

a {
	cursor: pointer;
}

.clb {
	clear: both;
}